# === NODE / REACT ===
node_modules/
/build
/dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === JAVA / SPRING BOOT ===
*.class
*.log
*.arc
*.gdoc
target/
.gradle/
/build/
!gradle-wrapper.jar
/out/

# === IDEs (IntelliJ, VS Code, etc.) ===
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.metadata/

# === SISTEMA OPERATIVO ===
.DS_Store
Thumbs.db